In [1]:
# Default values for parameters and passing optional parameters as labeled values

def add_numbers(x, y, z = None):
    if z == None:
        return x + y
    else:
        return x + y + z

print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

In [2]:
x = ('Christopher', 'Brooks','brooksch@umich.edu')
fname, lname, email = x
print(fname)
print(lname)
print(email)

Christopher
Brooks
brooksch@umich.edu

In [3]:
# String library and formatting language

sales_record = {'price': 3.24, 'num_items': 4, 'person': 'Chris'}
sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'
print(sales_statement.format(sales_record['person'], 
                             sales_record['num_items'], 
                             sales_record['price'], 
                             sales_record['price']*sales_record['num_items']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [4]:
# Python中读写csv文件(mpg为每加仑燃油所行的英里数)

import csv

%precision 2

with open('C:\\Users\\asus\\Desktop\\Coursera\\Applied Data Science with Python\\(1) Introduction to Data Science in Python\\dataset\\mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
    
# 求csv文件的长度
print(len(mpg))

# 求csv文件每列的名称
print(mpg[0].keys())

#求平均每辆汽车在城市中的mpg
print(sum(float(d['cty']) for d in mpg) / len(mpg))

#求平均每辆汽车在高速公路上的mpg
print(sum(float(d['hwy']) for d in mpg) / len(mpg))

234
dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])
16.858974358974358
23.44017094017094

In [5]:
# 对于不同数量的汽车cylinders，求其在城市中的平均mpg

cylinders = set(d['cyl'] for d in mpg) #set()函数求可迭代对象中元素的种类，重复的删除
print(cylinders)

CtyMpgByCyl = list()

for c in cylinders:
    AmountByCyl = 0
    NumberByCyl = 0
    for d in mpg:
        if d['cyl'] != c:
            continue
        else:
            AmountByCyl += float(d['cty'])
            NumberByCyl += 1
    AverageByCyl = AmountByCyl / NumberByCyl
    CtyMpgByCyl.append((c, AverageByCyl))
    
CtyMpgByCyl.sort(key = lambda x:x[0])
print(CtyMpgByCyl)

{'8', '4', '6', '5'}
[('4', 21.012345679012345), ('5', 20.5), ('6', 16.21518987341772), ('8', 12.571428571428571)]

In [6]:
# 对于不同数量的汽车类别，求其在高速公路上的平均mpg

vehicle_classes = set(d['class'] for d in mpg)
print(vehicle_classes)

HwyMpgByClasses = list()

for c in vehicle_classes:
    AmountByClasses = 0
    NumberByClasses = 0
    for d in mpg:
        if d['class'] != c:
            continue
        else:
            AmountByClasses += float(d['hwy'])
            NumberByClasses += 1
    AverageByClasses = AmountByClasses / NumberByClasses
    HwyMpgByClasses.append((c,AverageByClasses))
    
HwyMpgByClasses.sort(key = lambda x:x[1])
print(HwyMpgByClasses)

{'minivan', 'pickup', '2seater', 'midsize', 'compact', 'suv', 'subcompact'}
[('pickup', 16.87878787878788), ('suv', 18.129032258064516), ('minivan', 22.363636363636363), ('2seater', 24.8), ('midsize', 27.29268292682927), ('subcompact', 28.142857142857142), ('compact', 28.29787234042553)]

# The Python Programming Language: Dates and Times

In [7]:
import datetime as dt
import time as tm

print(tm.time()) #1970年后经过的浮点秒数

print(tm.localtime(tm.time()))
print(tm.asctime(tm.localtime(tm.time())))

1631485517.9054713
time.struct_time(tm_year=2021, tm_mon=9, tm_mday=12, tm_hour=18, tm_min=25, tm_sec=17, tm_wday=6, tm_yday=255, tm_isdst=1)
Sun Sep 12 18:25:17 2021

In [8]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2021, 9, 12, 18, 25, 17, 921027)

In [9]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2021, 9, 12, 18, 25, 17)

In [10]:
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(days=100)

In [11]:
today = dt.date.today()

In [12]:
today - delta

datetime.date(2021, 6, 4)

In [13]:
today > today - delta

True

# The Python Programming Language: Objects and map()

In [14]:
class Person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [15]:
# 实例介绍map()，两家商店相同物品的价格

store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)

print(cheapest)

for i in cheapest:
    print(i)

<map object at 0x000002082BF0EF10>
9.0
11.0
12.34
2.01

In [16]:
# 另一个实例

def square(x):
    return x**2

print(map(square, [1, 3, 5, 7, 9]))

print(list(map(square, [1, 3, 5, 7, 9]))) #使用list()转换为列表

print(list(map(lambda x:x**2, [1, 3, 5, 7, 9])))

<map object at 0x000002082BF0E7C0>
[1, 9, 25, 49, 81]
[1, 9, 25, 49, 81]

# The Python Programming Lanuage: Lambda and List Comprehensions
Lambda is the way that Python creating anonymous functions, these are the same as other functions but they have no name. They are simple and short-lived and it is easier to write out the function in one line, instead of trying to create a named function.

In [17]:
my_function = lambda a, b, c : a + b

In [18]:
my_function(1, 2, 3)

3

In [19]:
my_list = list()

for number in range(0,1000):
    if number%2 == 0:
        my_list.append(number)

print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

In [20]:
my_list = [number for number in range(0,1000) if number%2 == 0]
print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

In [21]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [i*j for i in range(10) for j in range(10)]

True